@charset "utf-8";
.bar {
	transition: all 600ms ease-in-out;
}
body ul li, p.mb-0 {
	color: rgba(51,51,51,1.00);
}
@media screen and (min-width:1200px) {
#info-fixed {
	position: fixed;
}
.col-xl-8.offset-xl-4 {
	padding-top: 320px;
}
}

@media print {
html {
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 0.9rem;
}
	#print, #preload, div[style="text-align: right;position: fixed;z-index:9999999;bottom: 0;width: auto;right: 1%;cursor: pointer;line-height: 0;display:block !important;"] {
		display: none;
	}
* {
	color: rgba(51,51,51,1.00)!important;
}
	.mb-5, .my-5 {
		margin-bottom: 1rem!important;
	}
	.mt-5, .my-5 {
		margin-top: 2rem!important;
	}
	.pb-5 {
		padding-bottom: 1.5rem!important;
	}
	#info-fixed.py-5 {
		padding-bottom: .5rem!important
	}
		.pb-5 {
		padding-bottom: 1rem!important
	}
	.col-md-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
		text-align: right;
	}
	.col-md-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.text-muted {
		-webkit-print-color-adjust: exact !important;
		color: #6c757d!important;
	}
a {
	text-decoration: none !important;
	color: rgba(51,51,51,1.00)!important;
}
.container > .row > div {
	}
.container > .row > div > .row {
	page-break-inside: avoid!important;
}
#skills .border-bottom {
	width: 70%;
}
ul {
	padding-left: 10px;
}
	#skills {
		display: none;
	}
	@page {
		margin: 0cm 2cm 0cm 2cm;
	}
	#info-viewport {
		display: none;
	}
	.bar-90 {
		width: 90%!important;
	}
		.bar-80 {
		width: 80%!important;
	}
		.bar-75 {
		width: 75%!important;
	}
		.bar-50 {
		width: 50%!important;
	}
.bar p {
		color: rgba(51,51,51,1.00);

}
}
.bar {
	-webkit-print-color-adjust: exact !important;
	background-color: rgba(230,230,230,1.00);
}
